# --- Jupyter Notebook ---
.ipynb_checkpoints/
*/.ipynb_checkpoints/
.jupyter/
*/.jupyter/

# --- Python ---
__pycache__/
*.py[cod]
*$py.class

# --- Virtual Environments ---
venv/
env/
.env
.venv/

# --- IDE ---
.vscode/
.idea/

# --- Logs & System ---
*.log
.DS_Store